article.container {
  margin: 0 auto;
  padding: 0 30px 60px 30px;
}

body {
  margin: 0 auto;
  padding: 0;
}

footer {
  font-size: 10px;
  margin: 0 auto;
  max-width: 700px;
  padding: 20px 10px 40px 30px;
}

h1 {
  margin: 0 0 10px 0;
  padding: 0;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
  margin: 10px 0 20px 0;
  padding: 0;
}

header.company-logo {
  margin: 0 auto;
  padding: 0;
}

hr {
  margin: -30px 0 60px 0;
  width: auto;
}

.box-container {
  height: auto;
  margin: 50px 0 110px 0;
  padding: 30px;
}

.box-head-right {
  padding-left: 47%;
}

.btn-left {
  font-size: 16px;
  height: 48px;
  margin: 0;
  width: 50%;
}

.btn-right {
  font-size: 16px;
  height: 48px;
  margin-left: 47%;
  width: 50%;
}

.cta-box {
  height: auto;
  margin: 0;
  padding: 25px 50px 25px 50px;
  width: auto;
}

.cta-btn {
  height: 48px;
  font-size: 16px;
}

.cta-p {
  font-size: 14px;
}

.image1 {
  left: 25px;
  top: -30px;
}

.image2 {
  left: 56%;
  top: -35px;
}

.image-placeholder img{
  width: 40%;
  max-height: 300px;
}

.main-headlines {
  margin: 0;
  padding: 20px 0 0 0;
}

.p-left {
  padding-right: 47%;
}

.p-right {
  padding-left: 47%;
}

.vertical-line {
  margin: 0;
  padding: 0;
}
